@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="text-primary">Employee List</h3>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Employee" asp-action="Add" class="btn btn-primary">
                <i class="bi bi-person-plus-fill"></i> &nbsp; Add New Employee
            </a>
        </div>
    </div>
</div>
<br />

<style>
    .content-table {
        border-collapse: collapse;
        margin: 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 20);
    }

    .content-table thead tr {
        background-color: blueviolet;
        color: whitesmoke;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 1px 50px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid lightgrey;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: lightgrey;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid blueviolet;
    }

    .content-table tbody tr.active-row {
        font-weight: bold;
        color: blueviolet;
    }
</style>
<table class="content-table">
    <thead>
        <tr>
            <th>
                EMPLOYEE ID
            </th>
            <th>
                NAME
            </th>
            <th>
                DEPARTMENT
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="active-row">
                <td>
                    @obj.ID
                </td>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.Department
                </td>
                <td>
                    <div class="w-auto btn-group" role="group">
                        <a asp-controller="Employee" asp-action="Edit" asp-route-Id="@obj.ID" class="btn btn-primary mx-2"><i class="bi bi-pencil-fill"></i>Edit</a>
                        <a asp-controller="Employee" asp-action="Delete" asp-route-Id="@obj.ID" class="btn btn-danger mx-2"><i class="bi bi-person-dash"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>